/* Fonts Link Start */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Biryani:wght@200;300;400;600;700;800;900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap");

/* Fonts Link End */

/* Universal Start */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-font: "Biryani";
  --secondary-font: "Raleway";
  --last-font: "Cardo";
  --white: #fff;
  --black: #000;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--primary-font);
}

a {
  text-decoration: none !important;
}

p {
  font-family: var(--secondary-font);
}

/* Universal End */

/* Hero  Start */
#hero {
  background: url(../image/hero-image.png);
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

/* Navbar Start */

.main_nav {
  position: static;
  width: 100%;
  z-index: 1000;
}

.main_nav_content {
  position: relative;
  margin: 0 auto;
  display: flex;
  /* background: #2f334c; */
  border-radius: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.75);
}

.logo-container {
  flex: 1;
  display: flex;
  align-items: center;
}

.logo-container h1 {
  padding-top: 15px;
  font-size: 35px;
  font-weight: 800;
  color: var(--white);
}

.nav-btn {
  flex: 3;
  display: block;
}

.nav-links {
  flex: 2;
}

.log-sign {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.logo span {
  font-weight: 300;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1.3rem;
  font-size: 0.8rem;
  border: 2px solid #fff;
  border-radius: 2rem;
  line-height: 1;
  margin: 0 0.2rem;
  transition: 0.3s;
  text-transform: uppercase;
}

.btn.solid,
.btn.transparent:hover {
  background-color: #fff;
  color: rgb(255, 255, 255);
}

.btn.transparent,
.btn.solid:hover {
  background-color: transparent;
  color: #fff;
}

.nav-links > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0;
    margin: 0; */
}

.nav-link {
  position: relative;
}

.nav-link > a {
  /* line-height: 3rem; */
  color: var(--black);
  padding: 0 1rem;
  letter-spacing: 1px;
  font-size: 14px;
  font-family: var(--secondary-font);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s;
  font-weight: 500;
  color: var(--white);
}

.nav-link:hover > a {
  transform: scale(1.1);
  color: var(--white);
}

.dropdown-link:not(:nth-last-child(2)) {
  border-bottom: 1px solid #000000;
}

.dropdown-link i {
  transform: rotate(-90deg);
}

.arrow {
  position: absolute;
  width: 11px;
  height: 11px;
  top: -5.5px;
  left: 32px;
  background-color: #000000;
  transform: rotate(45deg);
  cursor: pointer;
  transition: 0.3s;
  z-index: -1;
}

.dropdown-link {
  position: relative;
}

.dropdown.second {
  top: 0;
  left: 100%;
  padding-left: 0.8rem;
  cursor: pointer;
  transform: translateX(10px);
}

.dropdown.second .arrow {
  top: 10px;
  left: -5.5px;
}

.nav-link:hover > .dropdown,
.dropdown-link:hover > .dropdown {
  transform: translate(0, 0);
  opacity: 1;
  pointer-events: auto;
}

.hamburger-menu-container {
  flex: 1;
  display: none;
  align-items: center;
  justify-content: flex-end;
}

.hamburger-menu {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  background: #2f334c;
  margin-right: 10px;
  justify-content: center;
}

.hamburger-menu span {
  width: 1.6rem;
  height: 5px;
  border-radius: 3px;
  background-color: var(--black);
  position: relative;
  padding-right: 10px;
  z-index: 1001;
  transition: 0.5s;
  font-weight: 300;
}

.hamburger-menu span:before,
.hamburger-menu span:after {
  content: "";
  position: absolute;
  width: 1.6rem;
  height: 5px;
  background-color: #000000;
  border-radius: 3px;
  transition: 0.5s;
}

.hamburger-menu span:before {
  transform: translateY(-7px);
}

.hamburger-menu span:after {
  transform: translateY(7px);
}

#check {
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translateY(-50%);
  width: 2.5rem;
  height: 2.5rem;
  z-index: 90000;
  cursor: pointer;
  opacity: 0;
  display: none;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu span {
  background-color: var(--white);
}

#check:checked ~ .hamburger-menu-container .hamburger-menu span:before {
  transform: translateY(0) rotate(-45deg);
}

#check:checked ~ .hamburger-menu-container .hamburger-menu span:after {
  transform: translateY(0) rotate(45deg);
}

@keyframes animation {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.nav-btn {
  margin-top: 25px !important;
}

@media (max-width: 992px) {
  .hamburger-menu-container {
    display: flex;
  }

  #check {
    display: block;
  }

  .nav-btn {
    margin-top: 50px !important;
  }

  .top_bar_wrapper {
    display: none !important;
  }

  .nav-link.active::after {
    display: none;
  }

  .nav-link > a {
    color: var(--black);
  }

  .nav-link:hover > a {
    color: var(--black);
  }

  .navbar_wrapper {
    position: fixed;
    height: calc(100vh - 5rem);
    top: 0rem;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;
    overflow-y: auto;
    transform: translateX(100%);
    transition: 0.65s;
  }

  #check:checked ~ .navbar_wrapper {
    transform: translateX(0);
  }

  #check:checked ~ .navbar_wrapper .nav-link,
  #check:checked ~ .navbar_wrapper .log-sign {
    animation: animation 0.5s ease forwards var(--i);
  }

  .nav-links {
    flex: initial;
    width: 100%;
  }

  .nav-links > ul {
    flex-direction: column;
  }

  .nav-link {
    width: 100%;
    opacity: 0;
    transform: translateY(15px);
  }

  .nav-link > a {
    position: relative;
    line-height: 1;
    padding: 1.6rem 2rem;
  }

  .nav-link:hover > a {
    transform: scale(1);
    background-color: #ffffff;
  }

  .dropdown,
  .dropdown.second {
    position: initial;
    top: initial;
    left: initial;
    transform: initial;
    opacity: 1;
    pointer-events: auto;
    width: 100%;
    padding: 0;
    background-color: #ffffff;
    display: none;
  }

  .nav-link:hover > .dropdown,
  .dropdown-link:hover > .dropdown {
    display: block;
  }

  .nav-link:hover > a > i,
  .dropdown-link:hover > a > i {
    transform: rotate(360deg);
  }

  .dropdown-link > a {
    background-color: transparent;
    color: #fff;
    padding: 1.2rem 2rem;
    line-height: 1;
  }

  .dropdown.second .dropdown-link > a {
    padding: 1.2rem 2rem 1.2rem 3rem;
  }

  .dropdown.second .dropdown.second .dropdown-link > a {
    padding: 1.2rem 2rem 1.2rem 4rem;
  }

  .dropdown-link:not(:nth-last-child(2)) {
    border-bottom: none;
  }

  .arrow {
    z-index: 1;
    background-color: #ffffff;
    left: 10%;
    transform: scale(1.1) rotate(45deg);
    transition: 0.5s;
  }

  .nav-link:hover .arrow {
    background-color: #fdfdfd;
  }

  .dropdown .dropdown .arrow {
    display: none;
  }

  .dropdown-link:hover > a {
    background-color: #3a91bd;
  }

  .dropdown-link:first-child:hover ~ .arrow {
    background-color: #50a9d6;
  }

  .nav-link > a > i {
    font-size: 1.1rem;
    transform: rotate(-90deg);
    transition: 0.7s;
  }

  .dropdown i {
    font-size: 1rem;
    transition: 0.7s;
  }

  .top_bar {
    display: none;
  }
}

/* Navbar End */

.hero_heading {
  padding-top: 15vh;
  width: 600px;
  display: block;
  margin: auto;
}

.hero_heading h1 {
  line-height: 50px;
  font-size: 35px;
  color: var(--white);
  text-align: center;
  font-weight: 800;
}

.hero_heading p {
  text-align: center;
  font-size: 14px;
  color: var(--white);
}

.hero_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding-bottom: 120px;
}

.hero_btn a {
  display: inline-block;
  padding: 10px 40px;
  border: 2px solid red;
  border-radius: 5px;
  background: red;
  color: var(--white);
  font-size: 12px;
  padding-top: 15px;
  font-family: var(--primary-font);
}

@media screen and (max-width: 767px) {
  .hero_heading {
    width: 450px;
  }

  .hero_heading h1 {
    font-size: 25px;
    line-height: 40px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 470px) {
  .hero_heading {
    width: 330px;
  }

  .hero_heading h1 {
    font-size: 20px;
    line-height: 40px;
    padding-bottom: 20px;
  }

  .hero_heading p {
    font-size: 12px;
  }
}
/* Hero  End */

/* Feature Start */
#feature {
  padding: 20px 0 50px 0;
}

.feature_image {
  width: 50px;
  height: 50px;
  display: block;
  margin: auto;
}

.feature_image img {
  width: 100%;
  height: 100%;
}

.feature_heading {
  text-align: center;
  margin-top: 20px;
}

.feature_heading h1 {
  font-size: 16px;
  font-weight: 600;
  padding: 10px 0;
}

.feature_heading p {
  font-size: 12px;
  width: 300px;
  display: block;
  color: #6c7279;
  font-weight: 500;
  margin: auto;
}

@media screen and (max-width: 767px) {
  .feature_wrapper_content {
    margin-top: 30px;
  }
}
/* Feature End */

/* Image Gallery Start */

#image_gallery {
  padding: 30px 0;
}
.gallery_content {
  position: relative;
  width: 100%;
  background: red;
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: 320px;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.gallery_content:hover .image {
  opacity: 0.2;
}

.gallery_content:hover .middle {
  opacity: 1;
}

.text a {
  color: white;
  font-size: 15px;
  display: block;
  text-align: center;
}
/* Image Gallery End */

/* Team Member Information Start */

#team_member {
  padding: 50px 0;
}

.team_member_cards {
  border: 1px solid rgba(198, 202, 204, 1);
  width: 100%;
}

.team_member_cards_image {
  width: 100%;
  height: auto;
}

.team_member_cards_image img {
  width: 100%;
}

.team_member_cards_heading {
  padding: 20px 20px 0px 20px;
}

.team_member_cards_heading h1 {
  font-size: 23px;
}

.team_member_cards_heading h2 {
  font-size: 15px;
  color: red;
}

.team_member_cards_heading p {
  font-size: 13px;
  color: #6c7279;
  font-weight: 500;
}

.team_member_cards_link {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px 20px 20px;
  gap: 10px;
}

.team_member_cards_link a {
  padding: 7px 15px;
  border: 1px solid rgba(198, 202, 204, 1);
}

@media screen and (max-width: 1200px) {
  .team_member_cards_heading h2 {
    font-size: 12px;
  }
}

@media screen and (max-width: 992px) {
  .team_member_cards_heading h2 {
    font-size: 14px;
  }
}
/* Team Member Information End */

/* About US Start */
#about {
  padding: 60px 0;
}

.about_image {
  width: 100%;
  height: 430px;
}

.about_image img {
  width: 100%;
  height: 100%;

  /* object-fit: cover; */
}

.about_slider {
  position: relative;
  height: 430px;
  width: 100%;
}

.swiper {
  width: 100%;
  /* height: 100%; */
  padding: 10px 0 80px 0;
  background: rgba(83, 53, 74, 1);
}

.swiper-slide {
  text-align: center;
  background: rgba(83, 53, 74, 1);
  font-size: 18px;
  justify-content: center;
  align-items: center;
  margin-top: 7vh;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about_slider_wrapper {
  background: rgba(83, 53, 74, 1);
}

.swiper-pagination-bullet {
  background: var(--white) !important;
}

.slider_text {
  /* padding: 0px 9px; */
  color: var(--white);
}

.slider_text p {
  font-family: var(--last-font) !important;
  font-weight: 400;
  font-style: italic;
  font-size: 30px;
  width: 590px;
  padding: 0 0 0 100px;
  text-align: start !important;
}

.slider_text_heading p {
  text-align: start;
  margin-top: 30px;
  color: var(--white);
  padding: 0 0 0 100px;
  font-size: 14px;
}

@media screen and (max-width: 1150px) {
  .slider_text p {
    font-size: 22px;
    padding: 0 0 0 60px;
    width: 450px;
  }
  .slider_text_heading p {
    padding: 0 0 0 60px;
  }
}

@media screen and (max-width: 992px) {
  .slider_text p {
    font-family: var(--last-font) !important;
    font-weight: 400;
    font-style: italic;
    font-size: 30px;
    width: 590px;
    padding: 0 0 0 100px;
    text-align: start !important;
  }

  .slider_text_heading p {
    text-align: start;
    margin-top: 30px;
    color: var(--white);
    padding: 0 0 0 100px;
    font-size: 14px;
  }
}

@media screen and (max-width: 602px) {
  .slider_text p {
    font-size: 22px;
    padding: 0 0 0 40px;
    width: 400px;
  }
  .slider_text_heading p {
    padding: 0 0 0 40px;
  }
}

@media screen and (max-width: 402px) {
  .slider_text p {
    font-size: 22px;
    padding: 0 0 0 30px;
    width: 350px;
  }
  .slider_text_heading p {
    padding: 0 0 0 30px;
  }
}

/* About US End */

/* Download Start */

#download {
  padding: 0px 0px 50px 0;
}

.download_content_text {
  text-align: center;
}

.download_content_text h1 {
  font-size: 25px;
}

.download_content_text p {
  font-size: 15px;
  font-weight: 600;
  margin: 0;
  padding-bottom: 15px;
}

.download_content_btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.download_content_btn a {
  padding: 8px 25px;
  border: 2px solid red;
  color: var(--white);
  background: red;
  border-radius: 5px;
}
/* Download End */

/* Footer Start */
#footer {
  padding: 10px 0 50px 0;
  background: rgba(58, 62, 100, 1);
}

.footer_heading h1 {
  font-size: 25px;
  text-align: center;
  color: var(--white);
  padding-bottom: 10px;
}

.footer_content_address address {
  text-align: center;
  font-size: 15px;
  color: rgb(225, 255, 255, 0.35);
}

.footer_icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_icon a {
  margin: 10px;
  padding: 8px 12px;
  border: 2px solid var(--white);
}

.footer_icon a i {
  font-size: 16px;
}

.footer_heading_text p {
  font-size: 15px;
  color: rgb(225, 255, 255, 0.35);
  text-align: center;
}

@media screen and (max-width: 767px) {
  .footer_heading h1 {
    text-align: start;
  }

  .footer_content_address address {
    text-align: start;
  }

  .footer_icon {
    justify-content: start;
  }

  .footer_heading_text p {
    text-align: start;
  }
}
/* Footer End */

/* Copyright Start */
#Copyright {
  padding: 30px 0 25px 0;
  background: rgba(49, 52, 84, 1);
}

.copy_right_content {
  text-align: center;
}

.copy_right_content h1 {
  font-size: 14px;
  color: rgba(128, 128, 128, 1);
}

.copy_right_content h2 {
  font-size: 14px;
  color: rgba(128, 128, 128, 1);
}

@media screen and (max-width: 575px) {
  .copy_right_content h1 {
    font-size: 12px;
  }

  .copy_right_content h2 {
    font-size: 12px;
  }
}
/* Copyright End */
